    <div class="wrapper">
        <h1>Hello there!</h1>
    </div>
    <div class="welcome-section content-hidden">
        <div class="content-wrap">
            <ul class="fly-in-text">
                <li>I</li>
                <li>N</li>
                <li>T</li>
                <li>R</li>
                <li>O</li>
            </ul>
            <a href="#" class="enter-button">ENTER</a>
        </div>
    </div>

